
.list {
    margin-left: 10px;
    margin-top: 20px;
}
.list h1,.list p {
    padding-left: 30px;
    margin-top: 20px;
}

.table th {
    font-weight: 600;
    text-align: left;
    flex:1;
    background-color:#DADFE4;
    padding: 10px 30px;
    margin-bottom:-2px;

}
.table td {
    flex:1;
    border-top: 1px solid rgba(0, 0, 0, .15);;
    padding: 10px 30px;
    min-width: 150px;

}

.table {
    width: 90%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 10px;;
}
.table tr{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table .options {
    display: flex;
    flex-direction: row;
    gap: 22px;
    flex:0;
    min-width: 70px;
}

.options img {
    width: 18px;
    height: 18px;
    cursor:pointer;
}

.table input {
    margin: 0;
    border-radius: 3px;
    border: 1px solid #C8C8C8;
    padding: 5px;
    width: 150px;
}

.options input {
    width: fit-content;
    background-color: #3751FF ;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
    width: 70px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.options input:hover {
    background-color: white ;
    color: #3751FF;
    transform: scale(1.05);
    transition: all .05s ease-in-out;
}
.options input:active{
    background-color: white ;
    color: #3751FF;
    transform: scale(0.95);
}
